<%- include('homeContent.ejs') %>

<script>


  function reply_click(clicked_id)
{
  const Url = "http://185.158.2.13/all/"; 
  // location.assign(Url+clicked_id);  
  location.href = Url+clicked_id;
}


  //     const Url = "http://localhost:3000/girlprofile/";   
  //     $('a.main-button').click(function() { 
  //      var girlId = $(this).attr('id');
  //    location.assign(Url+girlId);
  //    return false;
       
// });
  </script>
<%- include('footer.ejs') %>
</body>
</html>