<%- include('header.ejs') %>
<%- include('homeContent.ejs') %>

<script>


  function reply_click(clicked_id)
{
  const Url = "http://185.158.2.13/all/"; 
  // location.assign(Url+clicked_id);  
  location.href = Url+clicked_id;
}


  //     const Url = "http://localhost:3000/girlprofile/";   
  //     $('a.main-button').click(function() { 
  //      var girlId = $(this).attr('id');
  //    location.assign(Url+girlId);
  //    return false;
       
// });
  </script>
<%- include('footer.ejs') %>
<!-- <script>
    function show1(galeryNr) {
      document.getElementById("galery"+ galeryNr).removeAttribute("style","display:none"); 
    }
    function hide(galeryNr) {
      document.getElementById("galery"+ galeryNr).setAttribute("style", "display:none"); 
    }
    function hideActive(linkNr) {
      document.getElementById("l"  + linkNr).removeAttribute("class","active"); 
    }
    function showActive(linkNr) {
      document.getElementById("l"+ linkNr).setAttribute("class", "active"); 
    }
    </script> -->

</body>

</html>