
	<section class="section1 line">
		<div class="container">
			<div class="row">
				<h1 class="t-upper c-red">Models</h1>

				<!-- start: анкеты -->
				<div class="col-md-12" id="galery0">
					<div class="row">

						<div class="col-sm-4 col-md-4 col-lg-3 wow zoomIn" data-wow-delay="0">
							<div class="gallery-icon">
								<img src="img/girl.jpg" alt="img">
								<div class="gallery-caption">
									<strong>Veronica (1441)</strong>
									<p>21 years</p>
									<p>Dance teacher</p>
									<a href="#" id="g1" class="main-button">View Profile</a>
								</div>
							</div>
						</div>
						
						<div class="col-sm-4 col-md-4 col-lg-3 wow zoomIn" data-wow-delay=".2s">
							<div class="gallery-icon">
								<img src="img/girl.jpg" alt="img">
								<div class="gallery-caption">
									<strong>Veronica (1441)</strong>
									<p>21 years</p>
									<p>Dance teacher</p>
									<a  id="a" onclick="reply_click(this.id); return false;" class="main-button" href="#">View Profile</a>
								</div>
							</div>
						</div>
						
						<div class="col-sm-4 col-md-4 col-lg-3 wow zoomIn" data-wow-delay=".4s">
							<div class="gallery-icon">
								<img src="img/girl.jpg" alt="img">
								<div class="gallery-caption">
									<strong>Veronica (1441)</strong>
									<p>21 years</p>
									<p>Dance teacher</p>
									<a href="#" class="main-button">View Profile</a>
								</div>
							</div>
						</div>
						
						<div class="col-sm-4 col-md-4 col-lg-3 wow zoomIn" data-wow-delay=".6s">
							<div class="gallery-icon">
								<img src="img/girl.jpg" alt="img">
								<div class="gallery-caption">
									<strong>Veronica (1441)</strong>
									<p>21 years</p>
									<p>Dance teacher</p>
									<a href="#" class="main-button">View Profile</a>
								</div>
							</div>
						</div>
						
						<div class="col-sm-4 col-md-4 col-lg-3 wow zoomIn" data-wow-delay="0s">
							<div class="gallery-icon">
								<img src="img/girl.jpg" alt="img">
								<div class="gallery-caption">
									<strong>Veronica (1441)</strong>
									<p>21 years</p>
									<p>Dance teacher</p>
									<a href="#" class="main-button">View Profile</a>
								</div>
							</div>
						</div>
						
						<div class="col-sm-4 col-md-4 col-lg-3 wow zoomIn" data-wow-delay=".2s">
							<div class="gallery-icon">
								<img src="img/girl.jpg" alt="img">
								<div class="gallery-caption">
									<strong>Veronica (1441)</strong>
									<p>21 years</p>
									<p>Dance teacher</p>
									<a href="#" class="main-button">View Profile</a>
								</div>
							</div>
						</div>
						
						<div class="col-sm-4 col-md-4 col-lg-3 wow zoomIn" data-wow-delay=".4s">
							<div class="gallery-icon">
								<img src="img/girl.jpg" alt="img">
								<div class="gallery-caption">
									<strong>Veronica (1441)</strong>
									<p>21 years</p>
									<p>Dance teacher</p>
									<a href="#" class="main-button">View Profile</a>
								</div>
							</div>
						</div>
						
						<div class="col-sm-4 col-md-4 col-lg-3 wow zoomIn" data-wow-delay=".6s">
							<div class="gallery-icon">
								<img src="img/girl.jpg" alt="img">
								<div class="gallery-caption">
									<strong>Veronica (1441)</strong>
									<p>21 years</p>
									<p>Dance teacher</p>
									<a href="#" class="main-button">View Profile</a>
								</div>
							</div>
						</div>
						
						<div class="col-sm-4 col-md-4 col-lg-3 wow zoomIn" data-wow-delay="0">
							<div class="gallery-icon">
								<img src="img/girl.jpg" alt="img">
								<div class="gallery-caption">
									<strong>Veronica (1441)</strong>
									<p>21 years</p>
									<p>Dance teacher</p>
									<a href="#" class="main-button">View Profile</a>
								</div>
							</div>
						</div>
						
						<div class="col-sm-4 col-md-4 col-lg-3 wow zoomIn" data-wow-delay=".2s">
							<div class="gallery-icon">
								<img src="img/girl.jpg" alt="img">
								<div class="gallery-caption">
									<strong>Veronica (1441)</strong>
									<p>21 years</p>
									<p>Dance teacher</p>
									<a href="#" class="main-button">View Profile</a>
								</div>
							</div>
						</div>
						
						<div class="col-sm-4 col-md-4 col-lg-3 wow zoomIn" data-wow-delay=".4s">
							<div class="gallery-icon">
								<img src="img/girl.jpg" alt="img">
								<div class="gallery-caption">
									<strong>Veronica (1441)</strong>
									<p>21 years</p>
									<p>Dance teacher</p>
									<a href="#" class="main-button">View Profile</a>
								</div>
							</div>
						</div>
						
						<div class="col-sm-4 col-md-4 col-lg-3 wow zoomIn" data-wow-delay=".6s">
							<div class="gallery-icon">
								<img src="img/girl.jpg" alt="img">
								<div class="gallery-caption">
									<strong>Veronica (1441)</strong>
									<p>21 years</p>
									<p>Dance teacher</p>
									<a href="#" class="main-button">View Profile</a>
								</div>
							</div>
						</div>

					</div>
				</div>
				<div class="col-md-12" style="display: none;" id="galery1">
					<div class="row">

						<div class="col-sm-4 col-md-4 col-lg-3 wow zoomIn" data-wow-delay="0">
							<div class="gallery-icon">
								<img src="img/girl2.jpg" alt="img">								<div class="gallery-caption">
									<strong>Veronica (1441)</strong>
									<p>21 years</p>
									<p>Dance teacher</p>
									<a href="#" class="main-button">View Profile</a>
								</div>
							</div>
						</div>
						
						<div class="col-sm-4 col-md-4 col-lg-3 wow zoomIn" data-wow-delay=".2s">
							<div class="gallery-icon">
								<img src="img/girl2.jpg" alt="img">								<div class="gallery-caption">
									<strong>Veronica (1441)</strong>
									<p>21 years</p>
									<p>Dance teacher</p>
									<a href="#" class="main-button">View Profile</a>
								</div>
							</div>
						</div>
						
						<div class="col-sm-4 col-md-4 col-lg-3 wow zoomIn" data-wow-delay=".4s">
							<div class="gallery-icon">
								<img src="img/girl2.jpg" alt="img">								<div class="gallery-caption">
									<strong>Veronica (1441)</strong>
									<p>21 years</p>
									<p>Dance teacher</p>
									<a href="#" class="main-button">View Profile</a>
								</div>
							</div>
						</div>
						
						<div class="col-sm-4 col-md-4 col-lg-3 wow zoomIn" data-wow-delay=".6s">
							<div class="gallery-icon">
								<img src="img/girl2.jpg" alt="img">								<div class="gallery-caption">
									<strong>Veronica (1441)</strong>
									<p>21 years</p>
									<p>Dance teacher</p>
									<a href="#" class="main-button">View Profile</a>
								</div>
							</div>
						</div>
						
						<div class="col-sm-4 col-md-4 col-lg-3 wow zoomIn" data-wow-delay="0s">
							<div class="gallery-icon">
								<img src="img/girl2.jpg" alt="img">								<div class="gallery-caption">
									<strong>Veronica (1441)</strong>
									<p>21 years</p>
									<p>Dance teacher</p>
									<a href="#" class="main-button">View Profile</a>
								</div>
							</div>
						</div>
						
						<div class="col-sm-4 col-md-4 col-lg-3 wow zoomIn" data-wow-delay=".2s">
							<div class="gallery-icon">
								<img src="img/girl2.jpg" alt="img">								<div class="gallery-caption">
									<strong>Veronica (1441)</strong>
									<p>21 years</p>
									<p>Dance teacher</p>
									<a href="#" class="main-button">View Profile</a>
								</div>
							</div>
						</div>
						
						<div class="col-sm-4 col-md-4 col-lg-3 wow zoomIn" data-wow-delay=".4s">
							<div class="gallery-icon">
								<img src="img/girl2.jpg" alt="img">								<div class="gallery-caption">
									<strong>Veronica (1441)</strong>
									<p>21 years</p>
									<p>Dance teacher</p>
									<a href="#" class="main-button">View Profile</a>
								</div>
							</div>
						</div>
						
						<div class="col-sm-4 col-md-4 col-lg-3 wow zoomIn" data-wow-delay=".6s">
							<div class="gallery-icon">
								<img src="img/girl2.jpg" alt="img">								<div class="gallery-caption">
									<strong>Veronica (1441)</strong>
									<p>21 years</p>
									<p>Dance teacher</p>
									<a href="#" class="main-button">View Profile</a>
								</div>
							</div>
						</div>
						
						<div class="col-sm-4 col-md-4 col-lg-3 wow zoomIn" data-wow-delay="0">
							<div class="gallery-icon">
								<img src="img/girl2.jpg" alt="img">								<div class="gallery-caption">
									<strong>Veronica (1441)</strong>
									<p>21 years</p>
									<p>Dance teacher</p>
									<a href="#" class="main-button">View Profile</a>
								</div>
							</div>
						</div>
						
						<div class="col-sm-4 col-md-4 col-lg-3 wow zoomIn" data-wow-delay=".2s">
							<div class="gallery-icon">
								<img src="img/girl2.jpg" alt="img">								<div class="gallery-caption">
									<strong>Veronica (1441)</strong>
									<p>21 years</p>
									<p>Dance teacher</p>
									<a href="#" class="main-button">View Profile</a>
								</div>
							</div>
						</div>
						
						<div class="col-sm-4 col-md-4 col-lg-3 wow zoomIn" data-wow-delay=".4s">
							<div class="gallery-icon">
								<img src="img/girl2.jpg" alt="img">								<div class="gallery-caption">
									<strong>Veronica (1441)</strong>
									<p>21 years</p>
									<p>Dance teacher</p>
									<a href="#" class="main-button">View Profile</a>
								</div>
							</div>
						</div>
						
						<div class="col-sm-4 col-md-4 col-lg-3 wow zoomIn" data-wow-delay=".6s">
							<div class="gallery-icon">
								<img src="img/girl2.jpg" alt="img">								<div class="gallery-caption">
									<strong>Veronica (1441)</strong>
									<p>21 years</p>
									<p>Dance teacher</p>
									<a href="#" class="main-button">View Profile</a>
								</div>
							</div>
						</div>

					</div>
				</div>
				<!-- end: анкеты -->
	
				<!-- start: pagination -->
				<div class="col-md-12 pagination">
					<ul>
						<li><a href="#">&laquo;</a></li>
						<li id="l1"><a onclick="show1(1);hide(0);showActive(1);hideActive(2); return false;"  href="#">1</a></li>
						<li id = "l2"  onclick="show1(0);hide(1);showActive(2);hideActive(1); return false;"  class="active"><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#">&raquo;</a></li>
					</ul>
				</div>
				<!-- end: pagination -->


			</div>
		</div>
	</section>

	<section class="section2 line">
		<div class="container">
			<div class="row">
				<h1 class="t-upper">Blog</h1>

				<!-- start: article-container -->
				<div class="col-md-8 col-md-offset-2 col-lg-12 col-lg-offset-0 articles-container">
					<div class="row">

						<div class="col-sm-4 col-md-4 col-lg-5ths article wow zoomIn" data-wow-delay="0">
							<a href="#">
								<img src="img/article-img.jpg" alt="">
								<h3>Post title</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In reiciendis cumque neque nostrum dolores culpa repellendus facere fugit aspernatur, labore rerum quasi quidem cum nihil eius reprehenderit adipisci sunt sequi.</p>
							</a>
						</div>

						<div class="col-sm-4 col-md-4 col-lg-5ths article wow zoomIn" data-wow-delay=".2s">
							<a href="#">
								<img src="img/article-img.jpg" alt="">
								<h3>Post title</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In reiciendis cumque neque nostrum dolores culpa repellendus facere fugit aspernatur, labore rerum quasi quidem cum nihil eius reprehenderit adipisci sunt sequi.</p>
							</a>
						</div>

						<div class="col-sm-4 col-md-4 col-lg-5ths article wow zoomIn" data-wow-delay=".4s">
							<a href="#">
								<img src="img/article-img.jpg" alt="">
								<h3>Post title</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In reiciendis cumque neque nostrum dolores culpa repellendus facere fugit aspernatur, labore rerum quasi quidem cum nihil eius reprehenderit adipisci sunt sequi.</p>
							</a>
						</div>

						<div class="col-sm-4 col-md-4 col-lg-5ths article wow zoomIn" data-wow-delay=".6s">
							<a href="#">
								<img src="img/article-img.jpg" alt="">
								<h3>Post title</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In reiciendis cumque neque nostrum dolores culpa repellendus facere fugit aspernatur, labore rerum quasi quidem cum nihil eius reprehenderit adipisci sunt sequi.</p>
							</a>
						</div>

						<div class="col-sm-4 col-md-4 col-lg-5ths article wow zoomIn" data-wow-delay=".8s">
							<a href="#">
								<img src="img/article-img.jpg" alt="">
								<h3>Post title</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In reiciendis cumque neque nostrum dolores culpa repellendus facere fugit aspernatur, labore rerum quasi quidem cum nihil eius reprehenderit adipisci sunt sequi.</p>
							</a>
						</div>
					</div>
				</div>
				<!-- end: article-container -->
				
			</div>
		</div>
	</section>

	<section class="section3 line">
		<div class="container">
			<div class="row">
				<h1 class="t-upper c-red">NEW GIRLS</h1>

				<!-- start: анкеты-->
				<div class="col-md-8 col-md-offset-2 col-lg-12 col-lg-offset-0">
					<div class="row">

						<div class="col-sm-6 col-md-6 col-lg-3 wow zoomIn" data-wow-delay="0s">
							<div class="gallery-icon">
								<img src="img/girl2.jpg" alt="img">
								<div class="gallery-caption">
									<strong>Ana (1074)</strong>
									<p>21 years</p>
									<p>Dancer</p>
									<a href="#" class="main-button">View Profile</a>
								</div>
							</div>
						</div>
						
						<div class="col-sm-6 col-md-6 col-lg-3 wow zoomIn" data-wow-delay=".2s">
							<div class="gallery-icon">
								<img src="img/girl2.jpg" alt="img">
								<div class="gallery-caption">
									<strong>Ana (1074)</strong>
									<p>21 years</p>
									<p>Dancer</p>
									<a href="#" class="main-button">View Profile</a>
								</div>
							</div>
						</div>
						
						<div class="col-sm-6 col-md-6 col-lg-3 wow zoomIn" data-wow-delay=".4s">
							<div class="gallery-icon">
								<img src="img/girl2.jpg" alt="img">
								<div class="gallery-caption">
									<strong>Ana (1074)</strong>
									<p>21 years</p>
									<p>Dancer</p>
									<a href="#" class="main-button">View Profile</a>
								</div>
							</div>
						</div>
						
						<div class="col-sm-6 col-md-6 col-lg-3 wow zoomIn" data-wow-delay=".6s">
							<div class="gallery-icon">
								<img src="img/girl2.jpg" alt="img">
								<div class="gallery-caption">
									<strong>Ana (1074)</strong>
									<p>21 years</p>
									<p>Dancer</p>
									<a href="#" class="main-button">View Profile</a>
								</div>
							</div>
						</div>
						
					</div>
				</div>
				<!-- end: анкеты -->

			</div>
		</div>
	</section>

	<section class="section4">
		<div class="container">
			<div class="text-container t-left">
				<h2 class="c-red">Lorem ipsum dolor sit amet, consectetur.</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus reprehenderit ratione modi repellendus quo voluptas velit id eos voluptatibus iusto? Aperiam repudiandae, alias reiciendis iusto animi quaerat eveniet provident nihil omnis quisquam laboriosam minus. Laborum quis officiis esse omnis provident eius similique corporis ipsum, doloremque quod iure quam aliquam, qui ea nam repellat laudantium. Optio sint veniam eveniet pariatur cumque voluptatem necessitatibus quam aspernatur omnis amet, eius laboriosam doloribus, velit reiciendis harum itaque quos impedit ea modi incidunt, enim. Vero, deserunt culpa et dolorem fugiat atque sint necessitatibus animi quibusdam, sed consectetur voluptatum aut ex laboriosam eaque ipsum distinctio excepturi illum molestias quidem eveniet nesciunt voluptate omnis. Repudiandae reprehenderit maiores culpa deserunt doloremque impedit dignissimos sunt natus inventore. Quod iusto quos ratione officia, recusandae sit, explicabo, vitae sequi illo atque distinctio eligendi fugit natus molestiae doloremque tempore obcaecati alias, laborum quia ducimus! Laborum fugiat, eum odio consequatur eligendi soluta officiis, eveniet aliquid nulla, praesentium iure harum explicabo mollitia, omnis ipsum culpa cupiditate autem perspiciatis sunt in. Distinctio voluptates ducimus officia, odio optio, laboriosam rerum quasi? Harum libero excepturi, perspiciatis voluptatum laborum praesentium. Quibusdam quo, temporibus molestiae quidem modi blanditiis dolorum, non nihil totam quisquam at dignissimos consequatur? Voluptatem neque beatae culpa quos labore enim rerum, vel vero fugiat commodi iure aliquam aspernatur nulla omnis, temporibus minus ad sunt similique nostrum numquam illo. Unde non temporibus aliquam nam hic aut dignissimos obcaecati eligendi veniam, sunt quam rem, culpa error accusamus totam sit praesentium qui. Dicta magni laborum nam minima, quam voluptatem aspernatur qui in, pariatur magnam sapiente. Accusamus, totam laborum modi ut quos qui, reiciendis obcaecati assumenda inventore aliquid culpa ullam laboriosam esse officia molestiae harum iure unde autem excepturi? Libero animi, perspiciatis beatae deserunt cum tempora. Pariatur sunt laudantium facere ratione aspernatur maxime in esse cupiditate similique placeat necessitatibus expedita suscipit, voluptatibus fugit accusamus vel perferendis nam fuga, consectetur. Quia, repellendus eos ullam voluptas suscipit ipsum voluptatem consectetur, fuga dolor nisi laboriosam sapiente accusantium doloremque illo, nulla consequatur ducimus soluta maiores voluptate perspiciatis ad et a exercitationem. At consequatur sed blanditiis libero, modi ex dolores! Necessitatibus possimus quaerat quasi! Tempore dolores, quae vero corporis, vel illo fugit odit. Error voluptas cum fuga rem saepe! Quisquam adipisci, provident vitae blanditiis non quae veritatis earum cum alias eos quas sapiente, distinctio reprehenderit minima aut dolores at corrupti quidem quia sunt dicta iure aperiam vel ullam! Tempore ducimus, eveniet quam facere eos sequi assumenda dolore dolor. Quos in perferendis officiis iure error porro quam ea, libero modi repellendus, amet, voluptas non omnis odio asperiores accusamus incidunt voluptates, illo magni necessitatibus aliquid. Soluta neque iure quaerat molestiae omnis at veritatis a tenetur itaque aut minima ipsam qui, cum quibusdam reiciendis accusamus incidunt iste sed eius placeat modi doloremque repudiandae. Dolorem ut nobis nihil impedit fugiat aliquid quibusdam vero unde maxime magnam alias vitae nesciunt explicabo saepe, suscipit atque odit eos aliquam ea qui excepturi voluptate dolore. Soluta enim voluptatibus non, omnis consequatur unde, ipsam vel itaque eveniet quod debitis sit fugit magni impedit. Perspiciatis, quaerat, iure. Non sunt laborum culpa! Eveniet tempora inventore quaerat at, eius, optio eaque mollitia ullam ipsum minus provident, natus aliquid iste quisquam voluptatem atque illo ab facilis sint. Esse officiis aliquam sapiente enim perspiciatis id nam quasi temporibus explicabo. Iste asperiores nobis tempora qui sequi natus neque maxime in consequatur? Alias asperiores maiores ut possimus velit, quaerat ad veniam quos voluptates vitae sapiente dolore, at dolorum eos totam deleniti, reiciendis facilis non quam impedit! In deserunt suscipit possimus hic provident, exercitationem, dignissimos recusandae quae iusto magni iste, quas officiis ducimus dolore. Dolor distinctio quibusdam, consectetur unde illo nesciunt. Rem sit adipisci animi non dolores mollitia rerum temporibus accusantium at, ullam, quisquam quae odio quam numquam voluptas deserunt accusamus sint inventore ipsa distinctio molestias laudantium libero architecto dolorum modi. Architecto eius fugit voluptatum amet voluptatem dolore ullam neque, fugiat consequatur, officiis eaque suscipit repellendus? Quisquam eaque blanditiis sed nostrum iusto totam, laboriosam enim vel fuga minus aliquid quia dolor, eum, numquam ullam eius voluptatibus distinctio rerum eveniet vitae provident error in. Quis iste dolorem sed culpa beatae suscipit dicta voluptatum corporis, temporibus incidunt! Quos quasi maiores, recusandae facilis porro, vero veritatis deleniti similique quam laboriosam omnis eos assumenda ullam illum!</p>
			</div>
		</div>
	</section>